<header>
    <!--Header -->
    <div class="header">
        <a href="#default" class="logo">Intellectual Library
          <img src="/images/logo.png" height="30" width="92"/>
         </a>
    </div>
</header>
