<nav id="verticalNavigation" class="sidenav">
	<ul id="vertical">
		<a href="/">Home</a>
		<a href="/categories">Categories</a>
		<!-- <a href="#clients">Store</a> -->
		<a href="/about">About</a>
		<a href="/contactUs">Contact Us</a>
		<a href="javascript:void(0);" class="icon" onclick="myFunction()">
 	    <i class="fa fa-bars"></i>
 		</a>
	</ul>
</nav>
