<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/index.css" type="text/css"/>
    <title>Intellectual Library</title>
</head>

<body>

<% include partials/header.ejs %>
<% include partials/user-navigation.ejs %>
<% include partials/site-navigation.ejs %>

<section>

   <!--main content -->
    <div class = "main">
       <h2>About Us</h2>
        <p>
            Intellectual library is about all the intellectual things that helps in developing an individual precisely in professional as well as personal growth. It leads to new experiences in everyones life proactively and motivates a person to do something different in their life's.
        </p>

    </div>
</section>

<% include partials/footer.ejs %>

</body>
</html>